# Python-specific
*.pyc
__pycache__/
venv/
*.pyo
*.pyd

# Flask-specific
instance/

# Environment variables
.env

# Static files
/static/css/
/static/js/
/static/fonts/
/static/uploads/

# Compiled assets
/assets/

# IDE-specific files
.vscode/
.idea/

# Package files
*.egg-info/
dist/
build/
